body {
    margin: 0;
    padding: 0;
    background-image: url('../images/historicTrail.jpg');
    background-size: cover;
    background-position:right;
    background-attachment: fixed;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60%;
}
#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

#form {
    position: relative;
    width: 50%;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

#points{
    font-size: 30px;
}

header{
    
    float:right;
    font-size: 35px;
    height: 100%;
    color: crimson;
    background: black;
   

}